project_name                 = "orders"
environment                  = "dev"
owner                        = "your-name"
location                     = "eastus"

resource_group_name          = ""
storage_account_name         = ""
servicebus_namespace_name    = ""
servicebus_queue_name        = ""
function_plan_name           = ""
function_app_name            = ""
key_vault_name               = ""
application_insights_name    = ""
log_analytics_workspace_name = ""
